POSTGRES_DB=hexora_highrise
POSTGRES_USER=hexora
POSTGRES_PASSWORD=replace-with-a-long-database-password
ADMIN_USERNAME=admin
ADMIN_PASSWORD=replace-with-a-long-admin-password
HIGHRISE_ENABLED=false
HIGHRISE_ROOM_ID=
HIGHRISE_API_TOKEN=
